extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-indigo-200.text-pulse Bienes
            span.font-normal.text-black_white-100.blur-none Raices
        h2.text-center.font-extrabold.my-10.text-2xl.text-black_white-100.blur-none= page 

             div(class="w-full bg-gray-100 py-10 px-12")
                .bg-black_white-100.py-8.px-4.rounded-xl.backdrop-blur-md.bg-opacity-10.py-8.px-4.shadow-xl.shadow-black_white-100.flex-1.form-pulse
                    form.space-y-5
                        input(type="hidden" name="_csrf" value= csrfToken)

                        div
                            label.block.text-sm.uppercase.text-indigo-200.mb-2.font-bold(for="email") Email:
                            .flex.items-center.border.py-2.px-3.rounded-md.mb-4.border-black_white-100
                                svg(class="h-5 w-5 text-black_white-100 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                                    path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207")
                                input#email.w-full.px-3.py-4.rounded-md.placeholder-black_white-100.bg-black_white-200.bg-opacity-0.text-black_white-100(placeholder= "Ingresa tu e-mail" type="email" name="email")

                        div
                            label.block.text-sm.uppercase.text-indigo-200.mb-2.font-bold(for="Password") Contraseña:
                            .flex.items-center.border.py-2.px-3.rounded-md.border-black_white-100
                                svg(class="h-5 w-5 text-black_white-100 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor")
                                    path(fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd")
                                input#password.w-full.px-3.py-4.rounded-md.placeholder-black_white-100.bg-black_white-200.bg-opacity-0.text-black_white-100(placeholder= "Ingresa tu contraseña" type="password" name="password")

                        div.flex.items-center.justify-between
                            a.text-indigo-200.text-xs.floating(class="hover:text-crimson-100 hover:underline hover:decoration-crimson-100" href="/auth/createAccount") ¿No tienes cuenta? 
                                span.text-xs.text-black_white-100 Crear cuenta
                            a.text-indigo-200.text-xs.floating( class="hover:text-crimson-100 hover:underline hover:decoration-crimson-100" href="/auth/passswordRecovery") Olvide mi contraseña

                        input(class="w-full bg-crimson-500 hover:bg-crimson-800 text-black_white-100 font-bold py-3 cursor-pointer rounded-lg" type="submit" value="Iniciar Sesión")

                    div.mt-6
                        div.relative
                            div.absolute.inset-0.flex.items-center
                            div.w-full.border-t.border-black_white-100
                            div.relative.flex.justify-center.text-sm
                                span.px-2.bg-gray-100.text-black_white-100.mt-5 O continua con

                        div.mt-6.grid.grid-cols-3.gap-3
                            div
                                a(href="#", class="w-full flex items-center justify-center px-8 py-3 border border-black_white-100 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-black_white-100 hover:bg-black_white-200 ")
                                    img.h-5.w-5(src="/img/Facebook.svg" alt="")
                            div
                                a(href="#", class="w-full flex items-center justify-center px-8 py-3 border border-black_white-100 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-black_white-100 hover:bg-black_white-200")
                                    img.h-5.w-5(src="/img/Google.svg" alt="")
                            div
                                a(href="#", class="w-full flex items-center justify-center px-8 py-3 border border-black_white-100 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-black_white-100 hover:bg-black_white-200")
                                    img.h-5.w-5(src="/img/Instagram.svg" alt="")


                style.
                    @keyframes float {
                        0%, 100% {
                            transform: translateY(0);
                        }
                        50% {
                            transform: translateY(-5px);
                        }
                    }

                    .floating {
                        display: inline-block;
                        animation: float 3s ease-in-out infinite; 
                    }
                    @keyframes text-pulse {
                    0%, 100% {
                        color: #c7d2fe; /* Color base */
                        text-shadow: 0 0 5px #c7d2fe, 0 0 20px #c7d2fe, 0 0 40px rgba(199, 210, 254, 0.5);
                    }
                    50% {
                        color: #ffffff; /* Más brillante */
                        text-shadow: 0 0 10px #ffffff, 0 0 30px #ffffff, 0 0 60px rgba(255, 255, 255, 0.8);
                    }
                    }

                    /* Clase para texto pulsante */
                    .text-pulse {
                        animation: text-pulse 3s infinite ease-in-out; /* Duración ajustable */
                    }
                    @keyframes box-shadow-pulse {
                    0%, 100% {
                        box-shadow: 0 0 15px 5px rgba(199, 210, 254, 0.5), 0 0 30px 10px rgba(30, 27, 75, 0.5);
                    }
                    50% {
                        box-shadow: 0 0 20px 10px rgba(200, 45, 109, 0.8), 0 0 40px 15px rgba(200, 45, 109, 0.7);
                    }
                    }

                    
                    .form-pulse {
                        animation: box-shadow-pulse 10s infinite ease-in-out; /* Duración ajustable */
                    }

                    @keyframes neon-flicker {
                        0%, 100% {
                            box-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 40px #ff69b4;
                        }
                        50% {
                            box-shadow: 0 0 15px #ff69b4, 0 0 30px #ff69b4, 0 0 60px rgba(255, 105, 180, 0.8);
                        }
                    }

            