extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-indigo-200 Bienes
            span.font-normal.text-black_white-100.blur-none Raices
        h2.text-center.font-extrabold.my-10.text-2xl.text-black_white-100.blur-none= page 

        .mt-8.mx-auto.max-w-md
            .bg-black_white-100.py-8.px-4.shadow.rounded-xl.backdrop-blur-md.bg-opacity-10.py-8.px-4.shadow-xl.rounded-xl.shadow-black_white-100
                form.space-y-5
                    input(type="hidden" name="_csrf" value= csrfToken)
                 
                    div
                        label.block.text-sm.uppercase.text-indigo-200.mb-2.font-bold(for="email") Email:
                        .flex.items-center.border.py-2.px-3.rounded-md.mb-4.border-black_white-100
                            svg(class="h-5 w-5 text-black_white-100 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                                path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207")
                            input#nombre.w-full.px-3.py-4.rounded-md.placeholder-black_white-100.bg-black_white-200.bg-opacity-0.text-black_white-100(placeholder= "Ingresa tu e-mail" type="email" name="email")

                    div.flex.items.center.justify-between
                        a.text-indigo-300.text-xs(class="hover:text-crimson-100 hover:underline hover:decoration-crimson-100" href="/auth/login") ¿Ya tienes cuenta? 
                            span.text-xs.text-black_white-100 Iniciar Sesión
                        a.text-indigo-300.text-xs(class="hover:text-crimson-100 hover:underline hover:decoration-crimson-100" href="/auth/createAccount") ¿No tienes cuenta? 
                            span.text-xs.text-black_white-100 Crear cuenta


                    input(class="w-full bg-crimson-500 hover:bg-crimson-800 text-black_white-100 font-bold py-3 cursor-pointer rounded-lg" type="submit" value="Enviar instrucciones")

