doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raices | 230413 | #{page}
        link(rel="stylesheet", href="/css/app.css")
        
    body(class="bg-gradient-to-r from-crimson-900 to-indigo-900 min-h-screen")
        main(class="mx-auto container mt-10 px-2 blur-none")
            block contenido